        body {
            font-family: Arial, sans-serif;
	    text-align: center;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
            margin-top: 20px;
        }
        .status-box {
            border: 1px solid #ccc;
            padding: 15px;
            text-align: center;
            background-color: #f9f9f9;
            width: 100%;
            box-sizing: border-box; /* Ensures padding doesn't affect overall size */
        }
        .button-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }
        button {
            padding: 10px 20px;
            margin: 0 10px;
            cursor: pointer;
        }
	.status-box.available {
		background-color: green;
	}
	.status-box.busy {
		background-color: red;
	}
	.status-box.away {
		background-color:yellow;
	}
	.status-box.meeting {
		background-color: darkred;
	}
	.status-box.offline {
		background-color: grey;
	}
